Character.dtd

<!ELEMENT dataroot (Character*)>
<!ELEMENT Character (CharacterID,CharacterInventory,CharacterName,CharacterValue,CharacterDescription,CharacterImage,GameImage)>
<!ELEMENT CharacterID (#PCDATA)>
<!ELEMENT CharacterInventory (#PCDATA)>
<!ELEMENT CharacterName (#PCDATA)>
<!ELEMENT CharacterValue (#PCDATA)>
<!ELEMENT CharacterDescription (#PCDATA)>
<!ELEMENT CharacterImage (#PCDATA)>
<!ELEMENT GameImage (#PCDATA)>


